<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Alatron Vendor Automation Suite">
    <test name="Login Tests">
        <classes>
           <class name="tests.auth.VendorAuthTest"></class>
            <class name="tests.auth.AddGearTest"></class>
        </classes>
    </test>
</suite>
